<!-- Button Drop Down -->
<div class="form-group">
  <label class="col-sm-4 control-label no-padding-right" for="<%= id %>"><%= label %></label>
  <div class="col-sm-8">
    <div class="input-group">
      <input id="<%= id %>" name="<%= id %>" class="form-control <%= inputsize %>" placeholder="<%= placeholder %>" type="text" <% if(required) {%> required <% } %> />
      <div class="input-group-btn btn-group-custom">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <%= buttontext %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu"><% _.each(buttonoptions, function(value) { %>
          <li><a href="#"><%= value %></a></li><% }); %>
        </ul>
      </div>
    </div>
  </div>
</div>
